/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
// Settings
@import "px-colors-design/_settings.colors.scss";

// Tools

// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";

// Base
@import "px-flexbox-design/_base.flexbox.scss";
@import "px-viewport-design/_base.viewport.scss";

// Meta

// Objects
$inuit-enable-layout--center : true;
@import "px-layout-design/_objects.layout.scss";

// Component
// Your css goes in here
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import '~@angular/material/theming';
// @include mat-core();
// @import "./variables";
app-root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.width100 {
  width: 100%;
}


// Trumps
$inuit-enable-margins: true;
$inuit-enable-margins--large: true;
$inuit-enable-margins--huge: true;
$inuit-enable-paddings: true;
$inuit-enable-paddings--large: true;
$inuit-enable-paddings--huge: true;
$inuit-enable-paddings--small: true;
@import "px-spacing-design/_trumps.spacing.scss";
@import "px-widths-design/_trumps.widths.scss";
